<div class="container mb-5">
  <h3 class="mt-3">Mission: {{ todo.name }}</h3>
  <a href="/todos/{{ todo._id }}/edit"><button class="btn-sm btn-secondary mr-2">Edit</button></a>
  <a href="/"><button class="btn-sm btn-dark">back</button></a>
</div>