<div class="container mb-5">
  <h3 class="my-3">Mission: {{ todo.name }}</h3>
  <a href="/todos/{{ todo._id }}/edit"><button class="btn-sm btn-secondary mr-2">Edit</button></a>
  <form action="/todos/{{ todo._id }}/delete" method="POST" style="display: inline">
    <button type="submit" class="btn-sm btn-secondary mr-2">Delete</button>
  </form>
  <a href="/"><button class="btn-sm btn-dark">back</button></a>
</div>