<div class="container m-5">
  <form action="/todos" method="POST">
    <div class="mb-3">
      <label for="newTodo" class="form-label mb-2">New Todo</label>
      <input type="text" class="form-control mb-3" id="newTodo" name="name" placeholder="Enetr New todo ..."
        aria-describedby="newTodo">
      <button type="submit" class="btn btn-info">Create</button>
    </div>
  </form>
</div>